:root {
    --sprite-width: 600px;
    --sprite-height: 700px;

    --sprite-columns: 11;
    --sprite-rows: 4;
    --sprite-frames: calc(var(--sprite-rows) * var(--sprite-columns));
    --animation-speed: 500ms;

    --click-text-fadeout: 600ms;
}

* { margin: 0; padding: 0; color: #f9fafb; }
body {
    height: 100vh;
    background-color: #444654;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    display: flex;
    flex-direction: column;
    /* Cender everything */
    justify-content: center;
    align-items: center;
}

/* ##########(STYLING)########## */

#notice{
    background-color: #1e293b;
    font-size: 14px;
    padding: 3px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.05)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
#notice svg { width: 18px; }
#notice p { margin-left: 5px; }

footer {
    background-color: #1e293b;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 5px;
    transition: 200ms ease-in;
}
footer svg { width: 25px;}
footer:hover {
    cursor: pointer;
    background-color: #0e7490;
    transition: 200ms ease-out;
}

#squishcount {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 0.15);
    font-size: 50px;
}

#catsquish-container:hover { cursor: pointer; }
#catsquish-container {
    overflow: hidden;
    border: 3px solid #0f172a;
    border-radius: 20px;
    background-color: #0f172a;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.1)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.15));
    width: fit-content;
}

/* I spend way more time on this than i would like to admit.
*  Here is a table to simplify what actually happens.
*
*  | animation property | value for X | value for Y |
*  |--------------------|-------------|-------------|
*  | name               | squishMoveX | squishMoveY |
*  | duration           | 500ms / 4   | 500ms       |
*  | iteration-count    | 4           | Unset       |
*  | step count         | 11          | 4           |
*
*/

#catsquish {
    /* background-image: url("./src/spritesheet11x4_orig.webp"); */
    background-image: url("./src/spritesheet11x4_half-quality.webp");
    width: var(--sprite-width);
    height: var(--sprite-height);
    animation: squishMoveX calc(var(--animation-speed) / var(--sprite-rows)) steps(var(--sprite-columns)) 4,
               squishMoveY var(--animation-speed) steps(var(--sprite-rows));
}

.anim-container {
    animation: boing 500ms ease;
    animation-delay: 100ms; /* Somewhat sync it with #catsquish animation */
}

#fader {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    background-color: #242424;
    pointer-events: none;
    animation: reveal 0.7s ease-in;
    z-index: 1;
}

.clicktext {
    width: 50px;
    height: 50px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 0.15);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
}
.fade-out {
    opacity: 0;
    transition: opacity var(--click-text-fadeout) ease-in-out;
    animation: moveUp var(--click-text-fadeout) ease-out;
}

/* ##########(KEYFRAMES)########## */

@keyframes squishMoveX {
    from { background-position-x: 0;}
    to { background-position-x: calc(-1 * var(--sprite-width) * var(--sprite-columns));}
}
@keyframes squishMoveY {
    from { background-position-y: 0;}
    to { background-position-y: calc(-1 * var(--sprite-height) * var(--sprite-rows));}
}

@keyframes boing {
    20% { transform: scale(1.2, 0.8); }
    80% { transform: scale(1.0, 1.0); }
}

@keyframes reveal {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes moveUp {
    100% { transform: translateY(-70px); }
}
